@model BO.Samourai

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Force)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Force)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Nom)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nom)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Arme)
    </dt>
    <dd>
        @if (Model.Arme == null)
        {
            <i>Aucune arme</i>
        }
        else
        {
            @Html.DisplayFor(model => model.Arme.Nom)
        }
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ArtMartials)
    </dt>

    <dd>
        @if (Model.ArtMartials.Any())
        {
            <ul>
                @foreach (BO.ArtMartial martialart in Model.ArtMartials)
                {
                    <li>@martialart.Nom</li>
                }
            </ul>
        }
        else
        {
            <i>Aucun art martial pratiqué</i>
        }
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Potentiel)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Potentiel)
    </dd>


</dl>